.list-title {
    background-color: #d6f2f1 !important;
  }

  .v-card {
    & .v-card-title {
      font-size: 16px !important;
      padding: 8px 14px !important;
      height: 52px !important;
    }
  }

  .search-title {
    .v-text-field {
      height: 50px; // 원하는 높이값
      font-size: 11px !important;

    .v-input__control {
        height: 38px;
        font-size: 11px !important;

        input {
            min-height: 22px;
            font-size: 11px !important;
        }
        label {
          min-height: 22px;
          font-size: 11px !important;
      }
    }

    .v-input__details {
      padding-top: 0px;
      .v-messages__message {
        font-size: 11px !important;
        line-height: 0px;
      }
    }
  }
  .v-select__selection-text {
    font-size: 11px !important;
  }
}